<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5vrqpvsmmj"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/search.css">
</head>
<body>
<div id="container">
    <header id = "header">
        <nav id = "nav">
            <div class = "btn-nav active" id="btnMainPage">내집앞버스</div>
            <div class = "btn-nav" id="btnSearchPage">검색</div>
        </nav>
    </header>
    <main id = "main">
        <div id="mainContainer"></div>
        <div id="searchContainer">
            <div class="search-container">
                <input type="text" id="searchInput">
                <button id="btnSearch" class="btn-search">검색</button>
            </div>
            <div id="searchResultContainer" class="search-result-container">
                <div class="search-result-content no-result">
                    <div class="search-result-text">
                        <div class="search-result-row">
                            <span class="no-result-text">검색 결과가 없습니다.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-container">
                <div id="map"></div>
            </div>
        </div>
    </main>
</div>
<script>
    //실제 컨텐츠가 들어갈 main 태그 영역
    const mainElement = document.getElementById("main");
    //메인페이지로 전환하는 버튼
    const btnMainPage = document.getElementById("btnMainPage");
    //검색페이지로 전환하는 버튼
    const btnSearchPage = document.getElementById("btnSearchPage");
    //메인페이지 컨텐츠 들어가는 div 태그
    const mainContainer = document.getElementById("mainContainer");
    //검색페이지 컨텐츠 들어가는 div 태그
    const searchContainer = document.getElementById("searchContainer");
    //네이버지도 객체
    let map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.5459155767, 127.0148446166),
        zoom: 16
    });
    //지도에 표시될 마커 관리할 변수
    let tempMarker;
    //1. 메인에 표시할 정류소 목록 DB 에서 가져오는 함수
    //2. 정류소 목록의 정류소 ID로 정류소정보, 노선정보, 도착정보 가져오는 함수
    //3. 가져온 정보들을 html 렌더링하는 함수
    //4. 메인, 검색페이지 전환
    /**
     * 요소의 display 속성을 원하는 값으로 변경
     *
     * @param element 변경할 html 요소
     * @param {string} attribute 변경할 속성 값
     */
    function changeDisplay(element, attribute){
        element.style.display = attribute;
    }
    //버튼 클릭시 화면 전환 이벤트리스너
    btnSearchPage.addEventListener("click",()=>{
        changeDisplay(mainContainer,"none");
        btnMainPage.classList.remove("active");
        changeDisplay(searchContainer,"block");
        btnSearchPage.classList.add("active");
    });
    btnMainPage.addEventListener("click",()=>{
        changeDisplay(searchContainer,"none");
        btnSearchPage.classList.remove("active");
        changeDisplay(mainContainer,"block");
        btnMainPage.classList.add("active");
    });
    //5. 정류소 명칭으로 정류소 목록 검색
    //검색 버튼
    const btnSearch = document.getElementById("btnSearch");
    //검색 input 태그
    const searchInput = document.getElementById("searchInput");
    //검색결과 표시 컨테이너
    const searchResultContainer = document.getElementById("searchResultContainer");
    //검색버튼 클릭시 이벤트리스너
    btnSearch.addEventListener("click",async () => {
        if(tempMarker){
            tempMarker.setMap(null);
        }
        //검색어 입력 상태 확인
        if (!searchInput.value) {
            alert("검색어를 입력하세요.");
            return
        }
        const searchKeyword = searchInput.value;
        //검색
        const searchResult = await busStopSearchResult(searchKeyword);
        //검색결과 리스트 html 출력
        searchResultContainer.innerHTML = searchResultToHTML(searchResult);
        //지도에 표시
        //출력된 검색결과 html 요소들
        const searchResultContents = document.getElementsByClassName("search-result-content");
        if(searchResultContents){
            tempMarker = createMarkerFromSearchResultList(searchResult,searchResult[0].arsId,map);
            let tempElement = searchResultContents[0];
            tempElement.classList.add("active");
            Array.from(searchResultContents).forEach(element=>{
                const arsId = element.getAttribute("data-arsId");
                element.addEventListener("click",(e)=>{
                    e.stopPropagation();
                    if(tempElement){
                        tempElement.classList.remove("active");
                    }
                    element.classList.add("active");
                    tempElement = element;
                    tempMarker.setMap(null);
                    tempMarker = createMarkerFromSearchResultList(searchResult,arsId,map);
                });
            });
        }
    });

    /**
     * API 서버를 통해 정류소 명칭에 검색 키워드 포함하는 정류소 정보를 조회함
     * @param searchKeyword
     * @returns {Array<*|null>}
     */
    async function busStopSearchResult(searchKeyword){
        try{
            const response =await fetch(`/buses/bus-stops/${searchKeyword}`,{
                method:"GET",
            });
            if(!response.ok){
                console.log("response not ok")
                const message = await response.message;
                console.log(message);
                return null;
            }
            const result = await response.json();
            const data = result.data;
            console.log(result.message);
            return data.msgBody.itemList;
        }catch(error){
            console.error(error);
            return null;
        }
    }
    //6. 검색 목록 html 렌더링
    function searchResultToHTML(searchResultList){
        let HTML = '';
        if(!searchResultList){
            return `<div class="search-result-content no-result">
                        <div class="search-result-text">
                            <div class="search-result-row">
                                <span class="no-result-text">검색 결과가 없습니다.</span>
                            </div>
                        </div>
                    </div>`;
        }
        searchResultList.forEach((searchResult)=>{
            busRouteArriveInfoList = searchResult.busRouteArriveInfoList;
            HTML += `
                <div class="search-result-content" data-arsId="${searchResult.arsId}">
                    <div class="search-result-text">
                        <div class="search-result-row">
                            <span class="bus-stop-name">${searchResult.stNm}</span><br>
                            <span class="bus-stop-description">(${searchResult.arsId}${busRouteArriveInfoList ? ', ' + busRouteArriveInfoList[0].nxtStn + ' 방면' : ''})</span>
                        </div>
                        <div class="search-result-row">
            `;
            if(busRouteArriveInfoList){
                busRouteArriveInfoList.forEach((arriveInfo)=>{
                    HTML+=`
                        <span class="bus-id-search">${arriveInfo.busRouteAbrv}번</span>
                    `;
                })
            }
            HTML += `
                        </div>
                    </div>
                    <div class="search-result-btn">
                        <button class="btn-choice">선택</button>
                    </div>
                </div>
            `;
        });
        return HTML;
    }
    //7. 선택한 정류소 위치를 지도에 표시
    //검색결과 리스트에서 arsId 에 해당하는 정류소의 Marker 객체 반환
    function createMarkerFromSearchResultList(searchResultList,arsId,map){
        const busStop = searchResultList.find(searchResult=>searchResult.arsId === arsId);
        const latLng = new naver.maps.LatLng(busStop.tmY,busStop.tmX);
        map.panTo(latLng);
        return new naver.maps.Marker({
            position: latLng,
            map: map,
            title:busStop.stNm
        });
    }
    //8. 정류소 선택하면 DB 에 등록/삭제 하는 함수
</script>
</body>
</html>